<form (ngSubmit)="onSubmit()" #filterForm="ngForm">
  <mat-form-field>
    <input matInput [matDatepicker]="start" placeholder="Choose a start date" name="start" [(ngModel)]="filter.start">
    <mat-datepicker-toggle matSuffix [for]="start"></mat-datepicker-toggle>
    <mat-datepicker #start></mat-datepicker>
  </mat-form-field>

  <mat-form-field>
    <input matInput [matDatepicker]="final" placeholder="Choose a final date" name="final" [(ngModel)]="filter.final">
    <mat-datepicker-toggle matSuffix [for]="final"></mat-datepicker-toggle>
    <mat-datepicker #final></mat-datepicker>
  </mat-form-field>

  <mat-form-field>
    <input type="text" matInput placeholder="Rocket" name="rocket_name" [matAutocomplete]="auto" [(ngModel)]="filter.rocket_name">
  </mat-form-field>

  <mat-autocomplete #auto="matAutocomplete">
    <mat-option *ngFor="let rocket of rockets" [value]="rocket.name">
      {{ rocket.name }}
    </mat-option>
  </mat-autocomplete>
  <mat-slide-toggle name="launch_success" [(ngModel)]="filter.launch_success">Launch success</mat-slide-toggle>

  <button mat-raised-button color="primary" type="submit">FILTER</button>
</form>
<button mat-raised-button color="accent" (click)="reset()">RESET</button>
