<div *ngIf="capsule !== null" class="content">
  <button mat-raised-button color="primary" routerLink="/capsules">Back</button>
  <h1>
    {{ capsule.capsule_serial }}
    <span
      class="status"
      [ngClass]="{'status--active': capsule.status, 'status--inactive': !capsule.status}"
      matTooltip="{{ capsule.status ? 'Active' : 'Inactive' }}"
    ></span>

  </h1>

  <p>Type : {{capsule.type}}</p>
  <p>Original launch : {{capsule.original_launch | amDateFormat: 'YYYY-MM-DD'}}</p>
  <p>Landings : {{capsule.landings}}</p>
  <p>Details : {{capsule.details}}</p>

  <mat-divider></mat-divider>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Heat Shield
      </mat-panel-title>
    </mat-expansion-panel-header>
    <table>
      <tr>
        <th>Material</th>
        <td>{{caps.heat_shield.material}}</td>
      </tr>
      <tr>
        <th>Size meters</th>
        <td>{{caps.heat_shield.size_meters}}</td>
      </tr>
      <tr>
        <th>Temps degrees</th>
        <td>{{caps.heat_shield.temp_degrees}}</td>
      </tr>
      <tr>
        <th>Dev partner</th>
        <td>{{caps.heat_shield.dev_partner}}</td>
      </tr>
    </table>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Payload
      </mat-panel-title>
    </mat-expansion-panel-header>
    <table>
      <tr>
        <th>Launch Mass</th>
        <td>{{caps.launch_payload_mass.kg}}</td>
      </tr>
      <tr>
        <th>Launch cubic meter</th>
        <td>{{caps.launch_payload_vol.cubic_meters}}</td>
      </tr>
      <tr>
        <th>Return Mass</th>
        <td>{{caps.return_payload_mass.kg}}</td>
      </tr>
      <tr>
        <th>Return cubic meter</th>
        <td>{{caps.return_payload_vol.cubic_meters}}</td>
      </tr>
    </table>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Thrusters
      </mat-panel-title>
    </mat-expansion-panel-header>
    <table *ngFor="let thruster of caps.thrusters">
      <tr>
        <th>Type</th>
        <td>{{thruster.type}}</td>
      </tr>
      <tr>
        <th>Amount</th>
        <td>{{thruster.amount}}</td>
      </tr>
      <tr>
        <th>Pods</th>
        <td>{{thruster.pods}}</td>
      </tr>
      <tr>
        <th>Fuel</th>
        <td>{{thruster.fuel_1}}</td>
      </tr>
      <tr>
        <th></th>
        <td>{{thruster.fuel_2}}</td>
      </tr>
    </table>
  </mat-expansion-panel>
</div>
