<div class="content">
	<h1>Our launches</h1>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Filter
      </mat-panel-title>
      <mat-panel-description>
        Filters the launches
      </mat-panel-description>
    </mat-expansion-panel-header>

    <app-launch-filter></app-launch-filter>
  </mat-expansion-panel>

	<mat-tab-group>
		<mat-tab label="All Launches">
			<div class="thumbnail-list">
				<app-launch-thumb *ngFor="let launch of allLaunches" [launch]="launch"></app-launch-thumb>
			</div>
		</mat-tab>
		<mat-tab label="Past launches">
			<div class="thumbnail-list">
				<app-launch-thumb *ngFor="let launch of pastLaunches" [launch]="launch"></app-launch-thumb>
			</div>
		</mat-tab>
		<mat-tab label="Upcoming launches">
			<div class="thumbnail-list">
				<app-launch-thumb *ngFor="let launch of upcomingLaunches" [launch]="launch"></app-launch-thumb>
			</div>
		</mat-tab>
	</mat-tab-group>
</div>
