<mat-card>
  <mat-card-header>
    <mat-card-title><span class="text-bold">{{capsule.capsule_serial}}</span></mat-card-title>
    <mat-card-subtitle>Original launch : {{capsule.original_launch | amDateFormat: 'YYYY-MM-DD'}}</mat-card-subtitle>

    <mat-chip-list class="launch-success">
      <mat-chip class="status"
                [ngClass]="{'status--active': capsule.status == 'active', 'status--warning': capsule.status == 'unknown', 'status--inactive': capsule.status == 'retired', 'status--destroyed' : capsule.status == 'destroyed'}">
        {{ capsule.status }}
      </mat-chip>
    </mat-chip-list>
  </mat-card-header>
  <mat-card-actions>
    <button mat-raised-button color="primary" routerLink="/capsules/{{capsule.capsule_serial}}">Details</button>
  </mat-card-actions>
</mat-card>
