<mat-sidenav-container class="container">
	<mat-sidenav #sidenav [mode]="push">
		<img src="assets/logo.png" alt="Logo SpaceX">
		<ul>
			<li><a routerLink="/rockets">Rockets</a></li>
			<li><a routerLink="/capsules">Capsules</a></li>
			<li><a routerLink="/launchpad">Launchpad</a></li>
			<li><a routerLink="/launches">Launches</a></li>
			<li><a routerLink="/about">About us</a></li>
		</ul>
	</mat-sidenav>
	
	<mat-sidenav-content>
		<mat-icon (click)="sidenav.toggle()" class="menu-icon">menu</mat-icon>
		
		<img src="../assets/homepage_background.jpg" alt="" width="100%">
	</mat-sidenav-content>
</mat-sidenav-container>