<mat-sidenav-container class="container">
	<mat-sidenav #sidenav [mode]="push">
		<img src="assets/logo.png" alt="Logo SpaceX">
		<ul>
			<li><a routerLink="/rocket">Rockets</a></li>
			<li><a routerLink="/capsule">Capsules</a></li>
			<li><a routerLink="/launchpad">Launchpad</a></li>
			<li><a routerLink="/launche">Launches</a></li>
			<li><a routerLink="/about">About us</a></li>
		</ul>
	</mat-sidenav>
	
	<mat-sidenav-content>
		<mat-icon (click)="sidenav.toggle()" class="menu-icon">menu</mat-icon>
		
		<router-outlet></router-outlet>
	</mat-sidenav-content>
</mat-sidenav-container>