<mat-sidenav-container class="container">
	<mat-sidenav #sidenav [mode]="push">
		<img src="assets/logo.png"  routerLink="/" alt="Logo SpaceX">
		<ul>
			<li><a routerLink="/rockets">Rockets</a></li>
			<li><a routerLink="/capsules">Capsules</a></li>
			<li><a routerLink="/launchpads">Launchpad</a></li>
			<li><a routerLink="/launches">Launches</a></li>
			<li><a routerLink="/about">About us</a></li>
		</ul>
	</mat-sidenav>

	<mat-sidenav-content>
			<mat-toolbar>
				<mat-icon (click)="sidenav.toggle()" class="menu-icon">menu</mat-icon>
			</mat-toolbar>

		<router-outlet></router-outlet>
	</mat-sidenav-content>
</mat-sidenav-container>

<spinner></spinner>
