<div *ngIf="company !== null">
  <div class="company-header">
      <p>{{company.summary}}</p>
      <img src="assets/space-company-bg.png" alt="" width="100%">
  </div>
      
  <div style="max-width: 1000px; margin: 0 auto;">
  
    <p>{{company.name}} is a private company founded in {{company.founded}} by {{company.founder}}.</p>

    {{company | json}}


    <h1>Some numbers</h1>

    <div class="company-numbers">
      <div>
        <i class="fas fa-user fa-2x"></i>
        <h3>employees</h3>
        <p>{{company.employees}}</p>
      </div>
      <div>
          <i class="fas fa-space-shuttle fa-2x"></i>
          <h3>vehicles</h3>
          <p>{{company.vehicles}}</p>
      </div>
      <div>
          <i class="fas fa-user fa-2x"></i>
          <h3>launch sites</h3>
          <p>{{company.launch_sites}}</p>
      </div>
      <div>
          <i class="fas fa-user fa-2x"></i>
          <h3>test sites</h3>
          <p>{{company.test_sites}}</p>
      </div>
    </div>



   
  </div>
</div>