/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300ita‌​lic,400italic,500,500italic,700,700italic,900italic,900);

html, html * {
  font-family: Roboto;
}

body {
    font-size: 1em;
    padding: 0;
    margin: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.container {
    background-color: transparent !important;
    position: absolute !important;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}


/** HEADER **/
.menu-icon {
    cursor: pointer;
    position: fixed;
    background-color: #ffffff;
    padding: 0.5rem;
}
.mat-sidenav {
    padding: 1rem;
    background-color: #454552;
    color: #ffffff;
}
.mat-sidenav ul {
    margin-top: 2rem;
}
.mat-sidenav li {
    margin: 1rem 0;
}

.mat-sidenav a {
    color: #ffffff;
    font-size: 1rem;
}


.example-spacer {
    flex: 1 1 auto;
}